<h1>Stupid Coaching</h1>
<div class="container">
  <div class="question">
    <p><%=@question%></p>
    <p class="speaker">-You</p>
  </div>
  <br>
  <div class="answer">
    <p id="bold"><%=@answer%></p>
    <p class="speaker">-Your coach</p>
  </div>
  <br>
  <a href="/ask">Ask a new question</a>
</div>

